{{#each errors}}
<div class="alert alert-danger">
    {{text}}
</div>
{{else}}
{{/each}}
<h1>Registro de usuário</h1>

<form action="/users/register"
method="POST" class="form-control mt-4">
    <label for="name">Nome: </label>
    <input type="text" name="name" id="name" class="form-control" required>
    <label for="email">Email: </label>
    <input type="email" name="email" id="email" class="form-control" required>
    <label for="password">Digite a senha: </label>
    <input type="password" name="password" id="password" class="form-control" required>
    <label for="password2">Digite a senha novamente: </label>
    <input type="password" name="password2" id="password2" class="form-control" required>
    <button type="submit" class="btn btn-success mt-3">Criar nova conta</button>
</form>